@font-face {
    font-family: font;
    src: url(./LibraSerifModern-Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: font;
}
#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(112, 173, 112, 0.649);
}
#panel {
  overflow: hidden;
  height: 80%;
  width: 80%;
  border-radius: 10px;
  /* background-color: #f0f8ff; */
  background: linear-gradient(white, transparent, lightblue);
}
#ptop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0px 40%;
  height: 10%;
  width: 100%;
  gap: 1.2rem;
  background-color: rgb(59, 111, 59);
}
.elem {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* background-color: red; */
}
.elem h2 {
  font-weight: 500;
  font-size: 1.3rem;
}
.box {
  color: rgb(55, 200, 52);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
}
#pbtm {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 1rem;
  /* background-color: black; */
  padding: 1rem;
  width: 100%;
  height: 100%;
  /* height: calc(100%-100px); */
}
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(50, 113, 50); */
  background: linear-gradient(rgb(0, 187, 255),  rgb(255, 115, 0));
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  color: white;
}
.bubble:hover {
  cursor: pointer;
  background-color: rgb(77, 146, 77);
}

/* ###RESPOMSIVE */

@media (max-width: 768px) {
  #main {
    /* background-color: aqua; */
  }
  #panel{
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
  #ptop{
    padding: 1.5rem;
    gap: 0;
  }
  .elem{
    gap: 0.5rem;
  }
  .elem h2{
    font-size: 5vw;
  }
  .box{
    font-size: 6vw;
  }
  .bubble {
    height: 8vw;
    width: 8vw;
  }
}
